<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ogłoszenia_Drobne_Web_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav class="navbar gradient navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 text-white">
            <div class="container">
                <a class="navbar-brand text-white" asp-area="" asp-controller="Home" asp-action="Index">Ogłoszenia Drobne O.N</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="BlackWords" asp-action="Index">Zakazane Słowa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Index">Kategorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Offers" asp-action="Index">Ogłoszenia</a>
                        </li>
                    </ul>
                </div>
            </div>
            @if (Context.User.Identity.IsAuthenticated == true)
            {
                @if (Context.User.IsInRole("Admin"))
                {
                    <li class="nav-item nav-item dropdow mr-lg-3">
                        <a class="nav-link dropdown-toggle text-light mt-1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span>Panel administracyjny</span>
                        </a>
                        <div id="text" class="dropdown-menu dropdown-menu-right bg-secondary text-white translate" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Category" asp-action="Index">Lista kategorii</a>
                                <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Category" asp-action="Create">Dodaj kategorię</a>*@
                            <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Admin" asp-action="UserList">Lista użytkowników</a>
                            <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Admin" asp-action="AddAdminAlert">Alert</a>
                            @*<a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Offers" asp-action="ReportedOffers">Zgłoszone oferty</a>
                                <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Admin" asp-action="ReportedUsers">Zgłoszeni użytkownicy</a>
                                <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Admin" asp-action="BlockedUsers">Zablokowani użytkownicy</a>
                                <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Admin" asp-action="ReportedMessages">Zgłoszone wiadomości</a>*@
                        </div>
                    </li>

                }

                <li class="nav-item nav-item dropdown mr-lg-3">
                    <a class="nav-link dropdown-toggle text-light mt-1" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zalogowany
                    </a>
                    <div id="text" class="dropdown-menu dropdown-menu-right bg-secondary text-white mt-0" aria-labelledby="navbarDropdown">
                        @*<a class="dropdown-item nav-link text-white" asp-area="" asp-controller="User" asp-action="MyDetails">Szczegóły konta</a>
                            <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="User" asp-action="MyEdit">Edytuj dane</a>*@
                        <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Offers" asp-action="MyOffers">Moje oferty</a>
                        <a class="dropdown-item nav-link text-white" asp-area="" asp-controller="Offers" asp-action="Create">Dodaj ogłoszenie</a>
                        <div class="dropdown-divider"></div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-white">Wyloguj</button>
                        </form>
                    </div>
                </li>

            }
            else
            {
                <li class="nav-item">
                    <button type="button" class="btn bg-transparent text-white">
                        <a class="nav-link  text-white" asp-area="Identity" asp-page="/Account/Login"><span>Logowanie</span></a>
                    </button>
                </li>

                <li class="nav-item">
                    <button type="button" class="btn bg-transparent text-white">
                        <a class="nav-link  text-white" asp-area="Identity" asp-page="/Account/Register"><span>Rejestracja</span></a>
                    </button>
                </li>
            }
        </nav>
    </header>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer gradient text-white">
        <div class="container">
            &copy; 2021 - Ogłoszenia-Drobne-Nieweglowski-Orzechowski MVC</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>