@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="adminAlert m-lg-5">
        Admin Alert Placeholder
    </div>
</div>

<div class="backgroundImage img-fluid">
</div>