@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Sprawdź pocztę aby aktywować konto.
        </p>
    }
    else
    {
        <p>
            Sprawdź pocztę aby aktywować konto.
        </p>
    }
}