@model Ogłoszenia_Drobne_Web_App.ViewModels.CreateOfferViewModel

@{
    ViewData["Title"] = "Dodawanie Oferty";
}

<div class="row justify-content-center mt-lg-5">
    <div class="col-md-4">
        <h1> @ViewData["Title"] </h1>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" id="attributeSelect" asp-items="ViewBag.CategoryId">
                    <option value="-1"></option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control h100"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group align-text-top">
                <label asp-for="Wage" class="control-label"></label>
                <input asp-for="Wage" class="form-control" />
                <span asp-validation-for="Wage" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-center align-items-center" >
                <div class="spinner-border text-primary" id="loader" style="display:none"></div>
            </div>
            <div id="attributesDiv">
            
            </div>
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn buttonDetails" />
            </div>
        </form>
        <a class="btn buttonDetails" asp-action="Index">Powrót</a>
    </div>
</div>


@section Scripts {
<script src="~/js/Offers/Create.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}