html, .container-fluid, .row {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

body {
    width: 100%;
    list-style-type: none;
    color: #a5b1c4;
    background: #151e2e;
}

.gradient {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(12,36,41,1) 100%);
}

.borderLogin {
    border-style: solid;
    border-color: rgba(65,26,88,1);
    border-width: 4px;
    border-radius: 15px;
}

.buttonLogin, .tableColor {
    background-color: rgba(9,9,121,1);
}

.buttonDetails {
    background-color: rgba(9,9,121,1);
    color: #a5b1c4;
}

a {
    color: rgba(0,212,255,1);
    text-decoration: none;
}

.adminAlert {
    border-width: 4px;
    border-style: solid;
    border-color: rgba(9,9,121,1);
    color: #a5b1c4;
    border-radius: 15px;
    min-height: auto;
    margin: 5px;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.backgroundImage {
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 100px;
    width: auto !important;
    max-width: 100%;
    width: 100%;
    background: url("../images/bck2.jpg") 0px -150px;
    min-height: 650px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.h100 {
    min-height: 200px !important;
}

.bg-secondary {
    color: white !important;
    background-color: rgba(9,9,121,1) !important;
}

.translate {
    transform: translate(-200px,-10px);
}

dl {
    display: inline-block;
    overflow: hidden;
    text-align: left;
}

.default, .darkmode, .contrast {
    border-width: 3px;
    border-radius: 15px;
    opacity: 50%;
    border-style: solid;
    margin: 3px;
    margin-top: 6px;
}

header, footer, a, title, .containe, th, td, .footer {
    color: #a5b1c4;
}

    a:hover {
        color: #a5b1c4;
    }

.contrast {
    color: #a5b1c4 !important;
    background: yellow !important;
    background-color: yellow !important;
}

.darkmode {
    color: #a5b1c4 !important;
    background: gray;
    background-color: gray;
}

.default {
    color: white !important;
    background: blue;
    background-color: blue;
}

.default, .darkmode, .contrast {
    border-width: 3px;
    border-radius: 15px;
    opacity: 50%;
    border-style: solid;
    margin: 3px;
    margin-top: 6px;
}

.dropdown-item {
    color: #a5b1c4 !important;
}

.dropdownColor {
    background-color: #151e2e;
    border-width: 2px;
    border-color: #a5b1c4;
}

.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1300px;
    }  
}