@model Ogłoszenia_Drobne_Web_App.Models.BlackWord

@{
    ViewData["Title"] = "Usuń";
}

<div class="container">
    <h1>Usuń</h1>

    <h3>Czy napewno chcesz usunąć słowo zakane?</h3>
    <div>
        <h4>Słowo zakazane</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Word)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Word)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Usuń" class="btn btn-danger" /> 
            <a class="btn buttonDetails" asp-action="Index">Powrót</a>
        </form>
    </div>
</div>