@model Ogłoszenia_Drobne_Web_App.Models.BlackWord

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Szczegóły</h1>

    <div>
        <h4>Słowo zakazane</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Word)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Word)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn buttonDetails" asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> 
        <a class="btn buttonDetails" asp-action="Index">Powrót</a>
    </div>
</div>