@model Ogłoszenia_Drobne_Web_App.Models.Category

@{
    ViewData["Title"] = "Edit";
    var parent = Model.ParentCategoryId;
}
<div class="container ">
    <h1>Edytuj</h1>

    <h4>Kategoria</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control categoryInput" />
                    <span asp-validation-for="CategoryName" class="text-danger "></span>
                </div>
                <div>
                    <span>Drzewo kategorii</span>
                    <div class="tree"></div>
                </div>
                <div class="form-group mt-2">
                    <input type="submit" value="Zapisz" class="btn btn-primary" />
                    <a class="btn btn-outline-primary" asp-action="EditAttributes" asp-route-id="@Model.Id">Edytuj atrybuty</a>
                </div>

            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Anuluj</a>
    </div>
</div>
@section Scripts {
<script>
    const parentCategory = @parent
</script>
    <script src="~/js/Categories/Edit.js">
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
